{# Customer detail form #}
{{ form_start(form, {'action': path('task_add')}) }}

{# Forms errors #}
{{ form_errors(form) }}
<div class="page-title">
    <h4 class="text-center">{{'Ajouter une tâche'|upper}}</h4>
</div>
<div class="row">
    <div class="form-group col-sm-10">
        {{ form_label(form.description, "Votre tâche") }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder':'Votre tâche à ajouter ...', 'rows':3 }}) }}
        <span class="help-block">
            &nbsp; &nbsp; Min : 3 - Max 1.500 caractères.
            {{ form_errors(form.description) }}
        </span> 
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-10">
        {{ form_label(form.dateDue, "Date limite") }}
        {{ form_widget(form.dateDue, {'attr': {'class': 'form-control datepicker', 'value': "now"|date("d-m-Y") }}) }}
        <span class="help-block">
            {{ form_errors(form.dateDue) }}
        </span> 
    </div>
</div>
<div class="row margin-top-15">
    <div class="form-group text-center">
        <button type="submit" class="btn btn-success">Enregistrer</button>
    </div>
</div>

{{ form_rest(form) }}

{{ form_end(form) }}