{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} - Gestion des Produits{% endblock %}

{% block body %}
    <!-- page title -->
    <div class="page-title">
        <h1>Gestion des produits &amp; services</h1>
        <p>Vous pouvez facilement ajouter les produits proposés ou les forfait d'interventions proposé par votre société pour accélérer la création et la modification de vos devis.</p>
        
        <ul class="breadcrumb">
            <li><a href="{{path('homepage')}}">ISY-Gestion</a></li>
            <li>Gestion d'entreprise</li>
            <li>Gestion des produits &amp; services</li>
        </ul>
    </div>                        
    <!-- ./page title -->
    <div class="wrapper wrapper-white">
        <div class="page-subtitle">
            <p><a href="{{path('company_product_add')}}" class="btn btn-success"><i class="fas fa-plus"></i> Ajouter un produit</a></p>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-sortable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Prix H.T (€)</th>
                        <th>T.V.A</th>
                        <th>Unité</th>
                        <th>Remise max.</th>
                        <th>Action</th>
                    </tr>
                </thead>                               
                <tbody>
                    {% for Product in Products %}
                    <tr>
                        <td>{{Product.code}}</td>
                        <td><strong><a href="{{ path('company_product_update', {'id': Product.id}) }}">{{Product.name}}</a></strong></td>
                        <td>{{Product.description|nl2br}}</td>
                        <td>{{Product.price}} €</td>
                        <td>{{Product.tax}}%</td>
                        <td>{{Product.units}}</td>
                        <td>{% if (Product.maxDiscount is null or Product.maxDiscount == 0) %} N/A {% else %}{{Product.maxDiscount}}%{% endif %}</td>
                        <td>
                            <a href="{{ path('company_product_update', {'id': Product.id}) }}" class="btn btn-primary btn-sm btn-table-inline" title="Modifier"><i class="far fa-edit"></i></a> &nbsp; 
                            <a href="{{ path('company_product_delete', {'id': Product.id}) }}" class="btn btn-danger btn-sm btn-table-inline _jQConfirm-before-remove" title="Supprimer"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}{{ parent() }}
<script type="text/javascript" src="js/plugins/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/plugins/sortable/sortable.min.js"></script>
{% endblock %}
