
{# USE ROUTE_NAME, define in base.twig.html to define current page #}
<div class="dev-page-sidebar">
        <div class="profile profile-transparent">
            <div class="profile-image">
                <img src="{{app.user.email|gravatar}}">
                <div class="profile-badges">
                    <a href="{{path('crm_prospective_list')}}" class="profile-badges-left"><i class="fa fa-users"></i> {{ _Stats.TotalCustomers }}</a>
                </div>
            </div>
            <div class="profile-info">
                <h4>{{ app.user.username }}</h4>
                <span>{{ app.user.company.name }}</span>
            </div>                        
        </div>

        <ul class="dev-page-navigation">
            <li class="title">Navigation</li>
            <li {% if ROUTE_NAME matches '{(dashboard)|(homepage)|(index)}' %}class="active" {% endif %}>
                <a href="#"><i class="fa fa-desktop"></i> <span>Tableau de Bord</span></a>
            </li>                      
            <li {% if ROUTE_NAME matches '{(crm)}' %}class="active" {% endif %}>
                <a href="#"><i class="fas fa-comment-dollar"></i> <span>Gestion commerciale</span></a>
                <ul>                               
                    {#<li {% if ROUTE_NAME matches '{(crm_deal)}' %}class="active" {% endif %}><a href="#"></i>Gestion des Affaires</a></li>#}                                
                    <li {% if ROUTE_NAME matches '{(crm_customer_list)}' %}class="active" {% endif %}><a href="{{path('crm_customer_list')}}">Gestion Clientèle</a></li>
                    <li {% if ROUTE_NAME matches '{(crm_prospective_list)}' %}class="active" {% endif %}><a href="{{path('crm_prospective_list')}}">Gestion des Prospects</a></li>
                    <li {% if ROUTE_NAME matches '{(crm_adressbook)}' %}class="active" {% endif %}><a href="{{path('crm_addressbook')}}">Carnet d'adresse</a></li>
                    <li {% if ROUTE_NAME matches '{(crm_customer_add)}' %}class="active" {% endif %}><a href="{{path('crm_customer_add')}}"><i class="fas fa-plus"></i>&nbsp; Ajouter un client</a></li>
                </ul>
            </li>                        
            <li {% if ROUTE_NAME matches '{(erp)}' %}class="active" {% endif %}>
                <a href="#"><i class="fas fa-file-invoice"></i> <span style="color:grey">Facturation (A venir)</span> </a>
                <ul>
                    <li {% if ROUTE_NAME matches '{(erp_waiting_invoice)}' %}class="active" {% endif %}><a href="#">Factures en attente<span class="label label-danger">+2</span> </a></li>
                    <li {% if ROUTE_NAME matches '{(erp_archived_invoice)}' %}class="active" {% endif %}><a href="#">Factures archivés</a></li>
                </ul>
            </li>
            <li {% if ROUTE_NAME matches '{(company)}' %}class="active" {% endif %}>
                <a href="#"><i class="fa fa-cogs"></i><span>Gestion Entreprise</span></a>
                <ul>
                    <li {% if ROUTE_NAME matches '{(company_product)}' %}class="active" {% endif %}><a href="{{ path('company_product_list') }}">Gestion des produits &amp; services</a></li>
                    <li {% if ROUTE_NAME matches '{(company_options)}' %}class="active" {% endif %}><a href="{{ path('company_options') }}">Paramètres</a>
                </ul>
            </li>
        </ul>
        
    </div>