{% extends 'base.html.twig' %}

{% block title %}CRM - {{Customer.name}}{% endblock %}

{% block body %}
<div class="page-profile" style="background-image: url(assets/images/user_images/user_image_2.jpg);">
                            
    <div class="profile profile-transparent">
        <div class="profile-image">
            <img src="assets/images/users/user_default.png">
        </div>
        <div class="profile-info">
            <h4>{{Customer.name}}</h4>
            <span><i class="fa fa-map-marker"></i> {{Customer.Address.street}}, {{Customer.Address.city}}</span>
        </div>                            
    </div>
   {#  
    <div class="page-profile-stats">
        <div class="page-profile-stats-left">
            <div class="pull-right">
                <div class="page-profile-stats-count">
                    <i class="fas fa-long-arrow-alt-up growth-increase"></i>
                    Facturation sur l'année
                    <span>14 522 €</span>
                </div>
            </div>
        </div>
        <div class="page-profile-stats-right">
            <div class="pull-left">
                <div class="page-profile-stats-count">
                    Négociation en cours
                    <span>2 251 €</span>
                </div>
            </div>
        </div>
    </div>
    #}
</div>

<div class="wrapper">
    <div class="row">
        <div class="col-md-3">
            {% include "CRM/partial/_sidebar-customer.html.twig" %}
        </div>
        <div class="col-md-9">
            <!-- Timeline -->
            {% include "CRM/partial/_event-view.html.twig" with {Events:Events} only %}                      
            <!-- ./ Timeline-->
            {% if Page > 1 %}
            <div class="pull-right">
                <ul class="pagination">
                    {% for p in range(1, NbPages) %}
                    <li{% if p == Page %} class="active"{% endif %}>
                        <a href="{{ path('crm_customer_view', {'id':Customer.Id, 'page': p}) }}">{{ p }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
