{% extends 'base.html.twig' %}

{% block title %}CRM - {{Customer.name}}{% endblock %}

{% block body %}
    <!-- page title -->
    <div class="page-title">
        <h1>{{Customer.name}}</h1>
        <p>{{Customer.Address.street}} - {{Customer.Address.zipCode}} {{Customer.Address.city}}</p>
        <ul class="breadcrumb">
            <li><a href="{{path('homepage')}}">ISY-Gestion</a></li>
            <li>CRM</li>
            <li>Détail du client</li>
        </ul>
    </div>

    <div class="wrapper wrapper-white">                   
            <div class="row row-wider">
                <div class="col-md-3">
                    {# jQEdit Button#}  
                    <div class="margin-top-10 margin-bottom-10 text-center">
                        <button type="button" class="btn btn-danger btn-sm _jQ-unlock-form"><span class="addon-lockable light-lock"><i class="fas fa-lock"></i></span> &nbsp; Éditer</button>
                    </div>
                    <div class="profile margin-bottom-0">
                        <div class="profile-dropzone-container">
                            <form class="dropzone dropzone-mini" id="CustomerAvatarDropzone" action="{{ oneup_uploader_endpoint('customer_avatar') }}">
                                <input type="hidden" name="_customer_ID" value="{{Customer.Id}}">
                            </form>
                        </div>
                        <div class="profile-image">
                            <img id="CustomerAvatar" src="
                            {% if Customer.AvatarURL is not empty %}{{Customer.AvatarURL}}{% else %}{{Customer.Email|gravatar}}{% endif %}
                            "> 
                            {#<div class="profile-badges">
                                <a href="#" class="profile-badges-left"><i class="fa fa-plus"></i></a>
                                <a href="#" class="profile-badges-right"><i class="fa fa-camera"></i></a>
                            </div>#}
                        </div>
                        <div class="profile-info">
                            <h4>{{Customer.name}}</h4>
                            <span><i class="fa fa-map-marker"></i> &nbsp; {{Customer.Address.city}}</span>
                        </div>
                    </div>
                    {% include "CRM/partial/_sidebar-customer.html.twig" %}
                </div>
                <div class="col-md-9">
                    {% include 'CRM/Form/customer.html.twig' with {form:CustomerForm, NewCustomer:false} only %}
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
{# TINY MCE + Logic for editing customer #}
<script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey={{_TinyMCE_APIKey}}'></script>
<script type="text/javascript" src="js/dev-customer-form.js"></script>
{# Dropzone + Logic for set picture #}
<script type="text/javascript" src="js/plugins/dropzone/dropzone.min.js"></script>
<script type="text/javascript" src="js/dev-customer-dropzone.js"></script>
{% endblock %}